html, body {
height: 100%;
}

#content {
height: 100%;
position:relative;
}

body {
background-color: #f7f5fa;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
overflow: hidden;
}

.scroll, .scroll-y, .scroll-x {
    -webkit-overflow-scrolling: touch;
}
.scroll > *, .scroll-y > *, .scroll-x > * {
    -webkit-transform : translateZ(0);
}
.scroll { overflow: auto; }
.scroll-y { overflow-y: auto; }
.scroll-x { overflow-x: auto; }

.navbar-brand {
float: left;
padding: 10px 15px 10px 15px;
font-size: 23px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
line-height: 2;
}

.mm-menu > .mm-panel {
background: inherit;
-webkit-overflow-scrolling: touch;
overflow: scroll;
overflow-x: hidden;
overflow-y: auto;
width: 100%;
height: 100%;
padding: 0px;
position: absolute;
top: 0;
left: 100%;
z-index: 0;
}

.panel-group .panel+.panel {
margin-top: 0px;
}

.panel {
margin-bottom: 0px;
/*background-color: #2C3E50;*/
border: 1px solid #f8f8f8;
border-bottom: none;
border-radius: 4px;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.menuCat-penal {
background: rgba(0, 0, 0, 0.1);
color: rgba(0, 0, 0, 0.6);
}

.panel-body {
padding: 0px;
background-color: transparent;
opacity:0.8;
}

.mm-menu .mm-list {
padding: 0;
}

.mm-title {
background: none;
border: none;
font-size: 23px;
font-weight: 300;
margin: 0;
padding: 0;
text-indent: 0;
-webkit-box-shadow: none;
box-shadow: none;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
line-height: 1.1;
color: inherit;
}

.menuContainer {
background-color: transparent; 
}

#menu-left {
background: url("http://c3e308.medialib.glogster.com/media/d9/d98ed5ad9aac08f653edff2f429e9540e67917b700f4714b51b7811e6331d93c/background-small.jpg");
/*background-color: #f7f7f9;*/
}

.panel-heading {
padding: 10px 15px;
border-top: 1px solid transparent;
border-bottom: none;
border-top-right-radius: 3px;
border-top-left-radius: 3px;
}

#main-content {
background-color: #f7f5fa;
color: #716b7a;
/*padding: 0px 10px 10px 10px;*/
padding-bottom: 60px;
/*padding-top: 65px;*/
}

/* main-content*/
.menuImage > img{
height: 300px;
}

.bs-callout {
margin: 20px 0;
padding: 10px 20px 10px 25px;
border-left: 3px solid #eee;
}

.bs-callout-danger {
background-color: #fdf7f7;
border-color: #eed3d7;
}

.bs-callout-danger h4 {
color: #b94a48;
}

.bs-callout h4 {
margin-top: 0;
margin-bottom: 5px;
}

h4, .h4 {
font-size: 18px;
}

.bs-callout-info {
background-color: #f4f8fa;
border-color: #bce8f1;
}

.bs-callout-info h3 {
color: #34789a;
}


/* bottom nav bar */
.bottomNav {
padding: 0 15px;
}

.bottomNavBar nav{
	min-height: 40px;
}

.bottomNav {

}
.bottomNavItem {
	border-right: 1px solid #46b8da;
	min-height: 40px;
	text-align: center;
	padding-top: 10px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-weight: 100;
	color: #fff;
	background-color: #5bc0de;
}

.bottomNavItem:last-child {
	border-right: none;
};

/* image ads */
#imageAdListView >.item > img {
	display: block;
	height: 200px;
	max-width: none;
	width: 100%;
	line-height: 1;
}

#imageAdListView {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-top: -20px;
	margin-top: -20px;
}

#carousel-imageAds {
	margin-bottom: 5px;
}
/* feeds */

.thumbnail {
	display: block;
	padding: none;
	margin-bottom: 0;
	line-height: 1.428571429;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.thumbnail .caption {
	padding-left: 15px;
	color: #777;
}

.thumbnail .caption h4{
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.thumbnail .caption p{
	font-size: 9px
}

.feed-content {
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 3px;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	height: 95px;
	overflow-y: hidden;
	padding: 0px 0px 2px 0px;
	-webkit-box-shadow: 0 2px 2px rgba(151, 149, 149, 0.5);
	box-shadow: 0 2px 2px rgba(196, 192, 192, 0.5);
}

.feed {
	overflow: auto;
	border: none;
	padding: 0px 4px 0px 4px;
}

.feed > .col-xs-4 > img {
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 5px;
}

.feedsPanel {

}

.feedsPanel .panel-heading {
padding: 0;
border-top: 1px solid transparent;
border-bottom: none;
border-top-right-radius: 3px;
border-top-left-radius: 3px;
}

#feedListView {
	padding: 0px 0px 0px 0px;
}

.panel-body-feed {
	padding: 5px;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.feed .panel {
	border:none;
}

.feed-desription-heading {
	height: 60px;
	overflow-y: hidden;
}